---
import Layout from "../layouts/Layout.astro";
import {Header} from "../components/Header";
import Hero from "../components/Hero.astro";
import {About} from "../components/About.jsx";
import {ProjectSection} from "../components/Project-section";
import { Navigation } from "../components/Navigation";
import {ContactSection} from "../components/Contact";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio - Michael Alvarado">
  <Navigation client:load />
  <Header client:load />
  <main class="w-full flex flex-col justify-center items-center mt-24 md:mt-44  gap-10 flex-grow">
    <Hero />
    <About client:load/>
    <ProjectSection client:load/>
    <ContactSection client:load/>
  </main>
  <Footer />
</Layout>