<h4 class="text-center text-7xl text-white">Contacto</h4>
<div class="container mx-auto my-20 w-2/3 lg:w-1/3 border border-sky-300">
    <div class="p-5 space-y-5 shadow-xl">
      <p class="text-center text-2xl text-sky-300">¿Interesado en trabajar conmigo?</p>
  
      <form>
        <div class="grid grid-cols-2 gap-5">
          <input
            type="text"
            class="border border-sky-300 px-4 py-2 focus:outline-none focus:sky-purple-500 col-span-2"
            placeholder="Nombre"
          />
          <input
            type="email"
            class="border border-sky-300 px-4 py-2 focus:outline-none focus:border-sky-500 col-span-2"
            placeholder="Email"
          />
          <textarea
            cols="10"
            rows="5"
            class="border border-sky-300 px-4 py-2 focus:outline-none focus:sky-purple-500 col-span-2"
            placeholder="Escriba su mensaje..."
          ></textarea>
        </div>
        <input
          type="submit"
          value="¡Enviar!"
          class="focus:outline-none mt-5 bg-sky-500 px-4 py-2 text-white font-bold w-full"
        />
      </form>
    </div>
  </div>