---
import logogithub from "../assets/logo-github.svg";
import logotwitter from "../assets/logo-twitter.svg";
import logolinkedin from "../assets/logo-linkedin.svg";
---

<footer class="text-white py-10 border-t border-gray-700 relative">
    <div class="flex justify-center items-center mt-5 mb-6 gap-5">
      <a href="https://github.com/MichaelAlvaradoP" target="_blank">
        <img src={logogithub} alt="Imagen 1" class="w-12 h-1w-12 mx-2" /></a>
      <a href="https://twitter.com/home" target="_blank">
        <img src={logotwitter} alt="Imagen 2" class="w-12 h-1w-12 mx-2" /></a>
      <a href="https://www.linkedin.com/in/michael-alvarado-77265126b/" target="_blank">
        <img src={logolinkedin} alt="Imagen 3" class="w-12 h-1w-12 mx-2" />
      </a>
    </div>
    <div class="text-center text-gray-400">
      &copy; 2023 Michael Alvarado. Todos los derechos reservados.
    </div>
    <a href="#home" class="bg-blue-500 text-white py-2 px-4 rounded absolute top-5 left-1/2 transform -translate-x-1/2 -translate-y-full">Ir al inicio</a>
  </footer>
  
