---
import logogithub from "../assets/logo-github.svg";
import logotwitter from "../assets/logo-twitter.svg";
import logolinkedin from "../assets/logo-linkedin.svg";
import { Icon } from "astro-icon";

---

<footer class="text-white py-10 border-t border-gray-700 relative">
    <div class="flex justify-center items-center mt-5 mb-6 gap-5 ">
      <a class="w-20 text-sky-700 transition duration-500 hover:scale-105" href="https://github.com/MichaelAlvaradoP" target="_blank">
        <Icon name="mdi:github" />
      </a>
      <a class="w-20 text-sky-700 transition duration-500 hover:scale-105" href="https://twitter.com/home" target="_blank">
        <Icon name="mdi:twitter" />
      </a>
      <a class="w-20 text-sky-700 transition duration-500 hover:scale-105" href="https://www.linkedin.com/in/michael-alvarado-77265126b/" target="_blank">
        <Icon name="mdi:linkedin" />
      </a>
    </div>
    <div class="text-center text-gray-400">
      &copy; 2023 Michael Alvarado. Todos los derechos reservados.
    </div>
    <a href="#home" class="w-28 text-sky-500 py-2 px-4 rounded absolute top-9 left-1/2 transform -translate-x-1/2 -translate-y-full transition duration-500 hover:scale-105">
      <Icon name="mdi:chevron-up-circle" />
    </a>
  </footer>
  
