---
import {Navigation} from './Navigation.jsx';
import Section from './Section.astro';
import logolinkedin from '../assets/logo-linkedin.svg';
---
<header id="home" class="w-full h-full container flex flex-col justify-center items-center min-h-screen ">
    <Navigation client:load/>
      <section class="container flex-row text-left justify-center items-center pl-4">
        <h1 class="text-sky-400 pb-7 text-4xl font-bold">Michael Alvarado</h1>
        <p class="text-sky-300 pb-7 text-xl">Desarrollador QA Trainee-Junior</p>
        <p class="text-sky-200 pb-7 mt-4 ">desarrollador de software especializado en Control de Calidad (QA), enfocado en garantizar la calidad y la excelencia en cada proyecto en los que participa.</p>
      </section>
  </header>
  

