---
import { Navigation } from "./Navigation.jsx";
import Section from "./Section.astro";
import logolinkedin from "../assets/logo-linkedin.svg";
---

<header
  id="home"
  class="flex flex-col justify-center items-center min-h-screen mt-5 md:mt-0"
>
  <Navigation client:load />
  <section class="md:w-2/3 2xl:w-1/2 pt-20">
    <div class="text-center md:text-left">
      <h1 class="text-white pb-3 text-7xl pr-1 md:pr-0">Michael Alvarado</h1>
      <p class="text-sky-500 pb-7 text-5xl md:mt-5">Desarrollador QA Junior
      </p>
      <p class="text-sky-200 pb-7 text-xl">
        Especializado en <span class="text-sky-400">Control de Calidad</span>. Combino pruebas manuales y automatización para lograr la calidad esperada en los proyectos, resaltando mi enfoque en la <span class="text-sky-400">automatización</span> progresiva con el fin de optimizar procesos.
      </p>
    </div>
    <div class="text-center md:text-left relative pt-20">
      <h2 class="text-sky-500 text-4xl md:text-5xl lg:text-5xl py-10 mb-5">
        ¿Interesado en mi trabajo?
      </h2>
      <a
        class="text-white px-4 py-2 text-lg md:text-2xl rounded-md inline-block shadow-xl bg-sky-500 hover:bg-sky-400 transition duration-500 hover:scale-105"
        href="#projects">Mis proyectos</a
      >
    </div>
  </section>
</header>
