<!-- <section
    id="home"
    class="md:w-2/3 2xl:w-1/2"
  >
    <div class="text-center">
      <h1 class="text-white pb-3 text-7xl pr-1 md:pr-0">Michael Alvarado</h1>
      <p class="text-sky-500 pb-7 text-5xl md:mt-5">Desarrollador QA Junior</p>
      <p class="text-sky-200 pb-7 text-xl ">
        Desarrollador de software especializándose en el Control de Calidad (QA) ,
        enfocado en garantizar la calidad y la excelencia en cada proyecto en los
        que participa.
      </p>
    </div>
    <div class="text-center relative pt-20">
      <h2 class="text-sky-500 text-4xl md:text-5xl lg:text-5xl py-5 mb-5 ">¿Interesado en mi trabajo?</h2>
      <a class="text-white px-4 py-2 text-lg md:text-2xl rounded-md inline-block shadow-xl bg-sky-500 hover:bg-sky-400 transition duration-500 hover:scale-105" href='#projects'>Mis proyectos</a>
    </div>
  </section> -->