---
import { Icon } from "astro-icon";
---

<div class='md:flex items-center justify-between bg-sky-700 py-4 md:px-10 px-7'>
    <div class='font-bold text-2xl cursor-pointer flex items-center  text-white duration-500'>
        <span class='text-3xl text-white mr-1 pt-2'>
            <Icon name="mdi:test-tube" class="w-10" />
            {/* <img src={logotool} width="40" alt="Michael Alvarado's Logo" /> */}
        </span>
        Michael Alvarado
</div>