---
import { Icon } from "astro-icon";
---
<section id='projects' class="min-h-screen"
>
  <h2 class="pt-20 md:pt-32 text-7xl text-white text-center mb-16 md:mb-28">Proyectos</h2>
  <!-- Grid proyectos -->
  <!-- flex flex-col md:flex-row flex-wrap -->
  <div class=" grid grid-cols-1 md:grid-cols-3 w-full text-3xl text-center gap-4">
    <div class="relative ">
      <div class="bg-white text-sky-600 opacity-0 hover:opacity-100 transition-opacity duration-200 ease-in p-6 absolute top-0 left-0 w-full h-full flex items-center justify-center">
        Descripción del elemento 1
      </div>
      <div class="bg-sky-500 transition-colors duration-200 ease-in p-24 w-full h-full flex items-center justify-center">
        Proyecto 1  
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-2  pt-2" href="" target="_blank">
          <Icon name="mdi:github" />
        </a>
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-16  pt-2" href="" target="_blank">
          <Icon name="mdi:web" />
        </a>
        
        
      </div>
    </div>
    <div class="relative ">
      <div class="bg-white text-sky-600 opacity-0 hover:opacity-100 transition-opacity duration-200 ease-in p-4 absolute top-0 left-0 w-full h-full flex items-center justify-center">
        Descripción del elemento 2
      </div>
      <div class="bg-sky-500 transition-colors duration-200 ease-in p-24 w-full h-full flex items-center justify-center">
        Proyecto 2
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-2  pt-2" href="" target="_blank">
          <Icon name="mdi:github" />
        </a>
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-16  pt-2" href="" target="_blank">
          <Icon name="mdi:web" />
        </a>
      </div>
    </div>
    <div class="relative ">
      <div class="bg-white text-sky-600 opacity-0 hover:opacity-100 transition-opacity duration-200 ease-in p-4 absolute top-0 left-0 w-full h-full flex items-center justify-center">
        Descripción del elemento 3
      </div>
      <div class="bg-sky-500 transition-colors duration-200 ease-in p-24 w-full h-full flex items-center justify-center">
        Proyecto 3
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-2  pt-2" href="" target="_blank">
          <Icon name="mdi:github" />
        </a>
        <a class="w-12 text-slate-700 transition duration-200 hover:scale-105 absolute bottom-0 right-16  pt-2" href="" target="_blank">
          <Icon name="mdi:web" />
        </a>
      </div>
    </div>
  </div>

</section>
